# nbgitpuller only required to allow pulling content from the repository
nbgitpuller
# Enables run .java/.jsh files via jbang in notebooks
jbang-jupyter-runner
# Enable git in jupyterlab
jupyterlab-git

# Very optional - but let us inspect kernel communication for debugging
jupyterlab-kernelspy
# Lets us inspect variables in jupyterlab 
lckr_jupyterlab_variableinspector

# enable plotly in jupyterlab
plotly
plotly[express]

